<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Welcome to the Research Helper!
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<body>
		<div class="jumbotron ">
			<div id="content" class="container">
				<h2 id="component-title">
					<b>Introduction</b>
				</h2>
				<p id="jumbotron-text">
				Research helper is an applicaiton for collecting data and exporting it to excel. It works from a browser on any device and will store your data using mongo db. It is free to use and is an open source project and can be found 
				<a target='_blank' href='https://github.com/Barent/research-helper.git'>here</a>
				. If you would like to contribute or have ideas for this applicaiton please reach out to me by email at research.helper.app@gmail.com. 
				Research Helper was built using Meteor and Meteor-kitchen.
				</p>
				<br>
				<h2 id="component-title">
					<b>Use</b>
				</h2>
				<p id="jumbotron-text">
					To use research helper simply click register in the upper right hand corner of the screen if you are a new user.
					If you are a returning user simply sign in. Once signed in you will see some more detailed instructions about how to use the research helper.
				</p>
				<br>
				<h2 id="component-title">
					<b>Disclaimer</b>
				</h2>
				<p id="jumbotron-text">
					This is a small project currently managed by one person. By using this application you agree to our terms of service located 
					<a target='_blank' href='terms_of_use'>here</a>
					. This application uses the GNU General Public License.
				</p>
			</div>
		</div>
	</body>
</template>

