<template name="HomePrivate">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePrivateHomeJumbotron}}
	</div>
</template>

<template name="HomePrivateHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Research Helper
			</h1>
			<p id="jumbotron-text">
				This is an applicaiton for simple research data collection with excel export.
			</p>
			<h2 id="component-title">
				How it Works
			</h2>
			<p id="jumbotron-text">
				Research helper has one simple form which contains the items below.
				<br>
				<br>
				<tr>
					<td>Id</td>
					<br>
					<td>Name</td>
					<br>
					<td>Observation_One</td>
					<br>
					<td>Observation_Two</td>
					<br>
					<td>Observation_Three</td>
					<br>
					<td>Observation_Four</td>
					<br>
					<td>Observation_Five</td>
					<br>
					<td>Notes</td>
				</tr>
				<br>
				<br>
				Simply fill out a form with your desired data and then once you are finished click the "Export" button and then select your format. For excel use CSV.
				The idea is if you are collecting data that needs to be analyzed later you should put it in one of the observation fields. Data that is more free form 
				and related to a specific item should be recorded in the notes. If you have any suggestions for the applicaiton please email research.helper.app@gmail.com.
				
			</p>
			<br>
			<p id="jumbotron-button">
				<a href="#" class="btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

