<template name="AdminPanel">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Admin panel
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> UsersViewTable}}
	</div>
</template>

<template name="UsersViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				
				<th class="th-sortable" data-sort="Name">
					Name
				</th>
				<th class="th-sortable" data-sort="Email">
					Email
				</th>
			
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each userTableItems}} {{> AdminTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="AdminTableItems">
		<tr id="dataview-table-items-row">
			<td>
				{{profile.name}}
			</td>
			<td>
				{{profile.email}}
			</td>
		</tr>
</template>

